
// ================== Breakpoints ==================  //

$bp-medium-portrait: 37.5em; // 600px
$bp-medium-landscape: 62.5em; // 1000px
$bp-large: 90em; // 1440px // 90em

// ==================== Fonts ======================  //
// Bourbon pre-defined font stacks vars used here

// sass-lint:disable indentation
@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/pokemon-solid-webfont.woff2') format('woff2'),
       url('/fonts/pokemon-solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// sass-lint:enable indentation

$base-font-stack: Arial, Helvetica, sans-serif;
$heading-font-stack: 'Pokemon', Tahoma, Geneva, serif;

// base-* sizes should be used only to be set into rules applied to 'html' element
$base-default-font-size: 16px;
$base-medium-font-size: 22px;

$small-font-size: .8rem;
$medium-font-size: 1.5rem;
$large-font-size: 2.5rem;
$xl-font-size: 4rem;

$default-line-height: 150%;
$large-line-height: 200%;
$reset-line-height: 100%;

// ==================== Layout =====================  //

$layout-max-width: $bp-large;
// $elements determine an ordered group of elements from lowest to highest
// to be consumed by index() SASS function
// @see http://sass-lang.com/documentation/Sass/Script/Functions.html#index-instance_method
$indexed-elements: sticky, modal, navigation;
$zindex-reset: -1;

// ==================== Colors =====================  //

$color-primary: #373737;
$color-secondary: #DCD0D0;
$color-tertiary: lighten($color-primary, 74%);
$color-accent: #C0B283;

$color-black: #000;
$color-blue-light: #2ACBE8;
$color-blue-dark: #0D59a9;
$color-white: #FFF;
$color-red: #EC1B23;
$color-yellow: #FFCB05;


// ================= Other default =================  //

$default-border-radius: 6px;
