
$color-primary: #333;
$color-lightest: #FFF;

// sass-lint:disable indentation
@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/pokemon-solid-webfont.woff2') format('woff2'),
       url('/fonts/pokemon-solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// sass-lint:enable indentation

html {
  font-size: 62.5%
}

body {
  font-size: 16px;
  background-color: $color-lightest;
}
