@import 'vendor/normalize';
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/placeholders';
@import 'partials/icons';

html {
  font-size: 62.5%
}

body {
  font-size: 16px;
  background-color: #FFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
}

.container {
  @include flex-center();

  flex-direction: column;
  //max-width: $layout-max-width;
  max-width: 1400px;
  height: 100vh;
}
